/* body{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    background-color: #e8edef;
} */

.card-body li{
    margin-bottom: 12px;
}

.card-body ul{
    padding: 0%;
    list-style: none;
}

.card-body{
    background-color: #f8f5ee;
    padding: 3rem; 
    border-radius: 10px;
}

.card-header{
    padding: 3rem;
}

.card-header p{
    font-size: 0.83rem;
}

.card{
    box-shadow: 12px 12px 7px #c1c1c1;
    border-radius: 10px;
}

.razorpaybtn{
    color: white;
    background-color: #95AEBC;
    border-radius: 12px;
    margin-top: 1.2rem;
}

.razorpaybtn:hover{
    background-color: #d2dbe0;
}

.razorpaybtn:disabled{
    background-color:#c0c0c0;
    color: white;
}
