*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

form{
    border: 2px solid #DCDCDC;
    padding: 1.5rem;
    border-radius: 4px;
    background-color : #fbfbfb;
    box-shadow: 10px 10px 5px #d0d0d0;
}

#submit{
    border-radius: 4px;
    width:100%;
    background-color: #B9C5C4;
    color: black;
}

#submit:active{
    background-color: grey;
}

 .expenses{
    background-color:#BBE2DF;
    border-radius:  4px;
    padding: 0.5rem;
    box-shadow: 6px 6px 4px #dcdcdc;
}

table{
    background-color:#E3ECEB;
    box-shadow: 6px 6px 4px #dcdcdc;
}

body{
    background-color: #f8f8f8;
}
