.navbar{
    padding: 0.75rem;
   text-align: center;
   margin-bottom: 2rem;
   /* color: #a63d8a; */
   /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
